* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-margin-top: 40px;

}

body {
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%, rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%), linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
    height: 100vh;

}



html {
    font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
}



header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 30px;

    background-color: #c3cbdc;
    background-color: #d7d7d7;
    background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
    position: fixed;



}

.logo {
    object-fit: contain;
    padding-left: 30px;
}

nav {

    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 30px;


}

nav .main_menu {
    display: flex;
    align-items: flex-end;
    width: 90%;
    position: sticky;
    top: 0;
}

nav .main_menu a {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

}

nav a:hover {
    background-color: palevioletred;

}

label {
    display: none;
}


.presentation {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.presentation h1 {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: end;
    color: rgb(233, 225, 225);
    text-transform: uppercase;
    text-shadow: 1px 1px 3px purple;
    -webkit-text-fill-color: beige;
    -webkit-text-stroke: 2px black;
    font-style: italic;
}

#Projets {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

}

.projectcontainer {
    margin-top: 100px;
}

.sectiontitle {
    font-size: 4rem;
    font-weight: bold;
    color: #dcc5c3;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.projectheader p {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    font-size: 2rem;
    color: white;

}

.projectbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    border-radius: 10px;
    border-bottom: 10px;
}

.projectinfo {
    flex-basis: 50%;
    padding: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #33669d 0%, #8497d9 100%);
}

.projectinfo h3 {
    font-size: 3em;
    font-weight: 400;
    padding-top: 30px;
    margin-top: 0px;
    color: white;
    text-align: center;
    border-bottom: solid;
}

.projectinfo h4 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 10px;
    color: white;
    text-align: center;

}

.projectinfo p {
    font-size: 1em;
    line-height: 1.5;
    color: white;
    padding: 10px;
    text-align: justify;
}

.projectimg {
    flex-basis: 60%;
    margin: 2em;
    border: 2px solid rgb(18, 6, 99);
    object-fit: contain;
    width: 500px;

}

.clic {
    display: flex;
    justify-content: space-around;
    background-color: rgb(248, 248, 250);
    box-sizing: content-box;
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2.5px;
    -webkit-text-fill-color: blue;
    text-decoration: none;
}

a:active {
    background-color: gray;
}

#formation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#formation .sectiontitle {
    font-size: 3.5em;
}

.cursus_item {

    flex-basis: 50%;
    margin: 20px;
    padding: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #33669d 0%, #8497d9 100%);
    color: white;
    line-height: 1.5rem;
    border-radius: 10px;
    border-bottom: 10px;
    text-align: justify;

}

.period {
    border: 2px solid whitesmoke;
    padding: 10px;
    width: 60%;
    text-align: center;

}

#Contact {
    display: flex;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 100%;
    padding: 30px;

}

#Contact .form_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(60deg, #33669d 0%, #8497d9 100%);
    border-radius: 10px;
    border-bottom: 10px;

}

#Contact .case {
    padding: 12px;
    margin: 15px;
    width: 100%;
    display: flex;
    align-content: center;
}

#msg {
    width: 100%;
    height: 132px;
    padding: 12px;
    margin: 15px;
    display: flex;
    align-content: center;
}

#send {
    width: 60px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
    height: 50px;

}

footer a {
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 650px) {
    nav {
        height: 60px;
    }

    nav .main_menu {
        display: none;
    }

    label {
        width: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
}

label,
#toggle {
    display: none;
}

@media only screen and (max-width: 650px) {
    nav {
        height: 60px;

    }

    nav .main_menu {
        display: none;
        width: 150px;
        flex-direction: column;
        background: linear-gradient(161deg, rgba(121, 121, 121, 0.02) 0%, rgba(121, 121, 121, 0.02) 16.667%, rgba(193, 193, 193, 0.02) 16.667%, rgba(193, 193, 193, 0.02) 33.334%, rgba(177, 177, 177, 0.02) 33.334%, rgba(177, 177, 177, 0.02) 50.001000000000005%, rgba(5, 5, 5, 0.02) 50.001%, rgba(5, 5, 5, 0.02) 66.668%, rgba(229, 229, 229, 0.02) 66.668%, rgba(229, 229, 229, 0.02) 83.33500000000001%, rgba(211, 211, 211, 0.02) 83.335%, rgba(211, 211, 211, 0.02) 100.002%), linear-gradient(45deg, rgba(223, 223, 223, 0.02) 0%, rgba(223, 223, 223, 0.02) 14.286%, rgba(70, 70, 70, 0.02) 14.286%, rgba(70, 70, 70, 0.02) 28.572%, rgba(109, 109, 109, 0.02) 28.572%, rgba(109, 109, 109, 0.02) 42.858%, rgba(19, 19, 19, 0.02) 42.858%, rgba(19, 19, 19, 0.02) 57.144%, rgba(180, 180, 180, 0.02) 57.144%, rgba(180, 180, 180, 0.02) 71.42999999999999%, rgba(63, 63, 63, 0.02) 71.43%, rgba(63, 63, 63, 0.02) 85.71600000000001%, rgba(87, 87, 87, 0.02) 85.716%, rgba(87, 87, 87, 0.02) 100.002%), linear-gradient(337deg, rgba(142, 142, 142, 0.02) 0%, rgba(142, 142, 142, 0.02) 20%, rgba(164, 164, 164, 0.02) 20%, rgba(164, 164, 164, 0.02) 40%, rgba(203, 203, 203, 0.02) 40%, rgba(203, 203, 203, 0.02) 60%, rgba(228, 228, 228, 0.02) 60%, rgba(228, 228, 228, 0.02) 80%, rgba(54, 54, 54, 0.02) 80%, rgba(54, 54, 54, 0.02) 100%), linear-gradient(314deg, rgba(187, 187, 187, 0.02) 0%, rgba(187, 187, 187, 0.02) 12.5%, rgba(170, 170, 170, 0.02) 12.5%, rgba(170, 170, 170, 0.02) 25%, rgba(214, 214, 214, 0.02) 25%, rgba(214, 214, 214, 0.02) 37.5%, rgba(187, 187, 187, 0.02) 37.5%, rgba(187, 187, 187, 0.02) 50%, rgba(190, 190, 190, 0.02) 50%, rgba(190, 190, 190, 0.02) 62.5%, rgba(6, 6, 6, 0.02) 62.5%, rgba(6, 6, 6, 0.02) 75%, rgba(206, 206, 206, 0.02) 75%, rgba(206, 206, 206, 0.02) 87.5%, rgba(171, 171, 171, 0.02) 87.5%, rgba(171, 171, 171, 0.02) 100%), linear-gradient(300deg, rgba(243, 243, 243, 0.01) 0%, rgba(243, 243, 243, 0.01) 12.5%, rgba(209, 209, 209, 0.01) 12.5%, rgba(209, 209, 209, 0.01) 25%, rgba(179, 179, 179, 0.01) 25%, rgba(179, 179, 179, 0.01) 37.5%, rgba(3, 3, 3, 0.01) 37.5%, rgba(3, 3, 3, 0.01) 50%, rgba(211, 211, 211, 0.01) 50%, rgba(211, 211, 211, 0.01) 62.5%, rgba(151, 151, 151, 0.01) 62.5%, rgba(151, 151, 151, 0.01) 75%, rgba(16, 16, 16, 0.01) 75%, rgba(16, 16, 16, 0.01) 87.5%, rgba(242, 242, 242, 0.01) 87.5%, rgba(242, 242, 242, 0.01) 100%), linear-gradient(6deg, rgba(31, 31, 31, 0.02) 0%, rgba(31, 31, 31, 0.02) 20%, rgba(193, 193, 193, 0.02) 20%, rgba(193, 193, 193, 0.02) 40%, rgba(139, 139, 139, 0.02) 40%, rgba(139, 139, 139, 0.02) 60%, rgba(14, 14, 14, 0.02) 60%, rgba(14, 14, 14, 0.02) 80%, rgba(122, 122, 122, 0.02) 80%, rgba(122, 122, 122, 0.02) 100%), linear-gradient(279deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 14.286%, rgba(160, 160, 160, 0.02) 14.286%, rgba(160, 160, 160, 0.02) 28.572%, rgba(23, 23, 23, 0.02) 28.572%, rgba(23, 23, 23, 0.02) 42.858%, rgba(60, 60, 60, 0.02) 42.858%, rgba(60, 60, 60, 0.02) 57.144%, rgba(149, 149, 149, 0.02) 57.144%, rgba(149, 149, 149, 0.02) 71.42999999999999%, rgba(4, 4, 4, 0.02) 71.43%, rgba(4, 4, 4, 0.02) 85.71600000000001%, rgba(50, 50, 50, 0.02) 85.716%, rgba(50, 50, 50, 0.02) 100.002%), linear-gradient(109deg, rgba(124, 124, 124, 0.03) 0%, rgba(124, 124, 124, 0.03) 12.5%, rgba(61, 61, 61, 0.03) 12.5%, rgba(61, 61, 61, 0.03) 25%, rgba(187, 187, 187, 0.03) 25%, rgba(187, 187, 187, 0.03) 37.5%, rgba(207, 207, 207, 0.03) 37.5%, rgba(207, 207, 207, 0.03) 50%, rgba(206, 206, 206, 0.03) 50%, rgba(206, 206, 206, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%, rgba(89, 89, 89, 0.03) 75%, rgba(89, 89, 89, 0.03) 87.5%, rgba(96, 96, 96, 0.03) 87.5%, rgba(96, 96, 96, 0.03) 100%), linear-gradient(329deg, rgba(35, 35, 35, 0.02) 0%, rgba(35, 35, 35, 0.02) 20%, rgba(246, 246, 246, 0.02) 20%, rgba(246, 246, 246, 0.02) 40%, rgba(118, 118, 118, 0.02) 40%, rgba(118, 118, 118, 0.02) 60%, rgba(245, 245, 245, 0.02) 60%, rgba(245, 245, 245, 0.02) 80%, rgba(140, 140, 140, 0.02) 80%, rgba(140, 140, 140, 0.02) 100%), linear-gradient(90deg, hsl(314, 0%, 31%), hsl(314, 0%, 31%));
        height: 50vh;

    }

    nav .main_menu a {
        width: 100%;
    }

    label {
        width: 10px;
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;


    }

    #toggle:checked+.main_menu {
        display: flex;
        flex-direction: column;


    }

    .period {
        width: 200px;
        font-size: 0.8em;
    }

    .projectimg {
        width: 250px;

    }

    footer {
        text-align: center;
    }
}